/* CSS declarations go here */

ul.panel-group {
  list-style-type: none;
}

.panel-default > .panel-heading .do.immediate_value.badge {
  background-color: green;
}

.panel-default > .panel-heading .dont.immediate_value.badge {
  background-color: red;
}
